@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .color {
    @apply flex-1 h-full w-full grid place-content-center transition-[.3s] duration-[ease-in-out] cursor-pointer hover:flex-[2]  text-transparent hover:text-white hover:shadow-[rgba(100,100,111,0.2)_0px_7px_29px_0px];
  }

  .color span {
    @apply font-mono font-bold md:text-2xl lg:text-3xl;
  }

  .custom-input {
    @apply w-full flex relative;
  }
  .custom-input input {
    @apply bg-slate-500 py-5 px-2 rounded-xl text-white font-bold text-xl outline-none w-full;
  }

  .custom-input input + span {
    @apply absolute top-5 left-2 text-xl text-slate-200 transition-all duration-200 ease-linear cursor-text;
  }

  .custom-input input:focus + span,
  .custom-input input:valid + span {
    @apply top-0 text-blue-400 font-bold text-sm;
  }

  .custom-input input:placeholder-shown + span {
    @apply top-5;
  }

  .social-card {
    @apply bg-white grid place-content-center shadow-lg transition-all duration-300 ease-in-out z-40;
  }

  .social-card svg {
    @apply text-5xl leading-none;
  }
}
